:root {
  --container-width: 1240px;

  --dark-blue: #3f5a83;
  --light-blue: #80c5e7;
  --blue: #1c99e1;
  --green: #6dac1b;
  --white: #ffffff;

  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 24px;
  --size-6: 32px;
  --size-7: 48px;
  --size-8: 64px;
  --size-9: 96px;

  --default-color: #353c41;
  --body-bg-color: #f6f6f8;

  --main-bar-link-color: #949598;

  --divider-bg-color: #e8e3e5;

  --area-nav-link-h-padding: var(--size-4);
}

body {
  background-color: var(--body-bg-color);
}

.loading-bar {
  background-color: var(--green);
  height: var(--size-1);
}

.main-bar {
  background-color: var(--white);
  height: calc(var(--size-8) + var(--size-2));
  position: relative;
}

.main-bar__container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.main-bar__brand-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--size-3);
}

.main-bar__brand-logo {
  max-height: var(--size-8);
}

.main-bar__brand-moto {
  color: var(--dark-blue);
  font-style: italic;
  font-size: calc(var(--size-5) + var(--size-1));
}

.main-bar__links-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* gap: var(--size-3); */
}

.main-bar__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--main-bar-link-color);
  height: var(--size-7);
  padding: var(--size-3);
}

.main-bar__user-menu {
  width: 224px;
  justify-content: right;
}

.main-bar__link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.main-bar__links-divider {
  width: 1px;
  height: var(--size-6);
  margin: 0 var(--size-3);
  background-color: var(--divider-bg-color);
}

.main-nav {
  background-color: var(--dark-blue);
  height: var(--size-7);
  position: relative;
}

.main-nav__container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-4);
}

.main-nav__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: var(--size-1);
  height: 100%;
  font-weight: 300;
}

.main-nav__link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.main-nav__link--active {
  background-color: rgba(0, 0, 0, 0.15);
  font-weight: 400;
  cursor: initial;
}

.main-nav__link--alerts {
  margin-left: auto;
}

.area-nav {
  background-color: var(--light-blue);
  height: calc(var(--size-7) + var(--size-1));
  position: relative;
}

.area-nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  gap: var(--size-1);
}

.area-nav__container.container {
  max-width: calc(var(--container-width) + (2 * var(--area-nav-link-h-padding)));
}

.area-nav__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: calc(var(--size-7) - var(--size-1));
  padding: 0 calc(2 * var(--area-nav-link-h-padding)) 0 calc(var(--area-nav-link-h-padding) + var(--size-1));
  border-radius: var(--size-2) var(--size-2) 0 0;
  color: var(--white);
}

.area-nav__link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.area-nav__link--active {
  height: var(--size-7);
  background-color: var(--white);
  cursor: initial;
  color: var(--default-color);
}

.area-nav__link--active:hover {
  background-color: var(--white);
}

.area-bar {
  height: var(--size-8);
  background-color: var(--white);
  border-bottom: 1px solid #c7c7c7;
}

.area-bar__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.area-bar__breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.area-bar__breadcrumb-link {
  padding: var(--size-1);
  color: var(--green);
  font-size: calc(var(--size-4) + var(--size-1));
  font-weight: 300;
}

.area-bar__progress {
  width: 360px;
  align-self: flex-start;
}

.area-bar__progress-message {
  font-size: var(--size-3);
  color: var(--blue);
  font-style: italic;
}

.area-bar__progress-bar {
  position: relative;
  height: var(--size-5);
}

.area-bar__progress-100,
.area-bar__progress-x {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: calc(var(--size-5) / 2);
}

.area-bar__progress-100 {
  width: 100%;
  background-color: #f3f6f9;
}

.area-bar__progress-x {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 79%;
  background-color: var(--blue);
  padding: 0 var(--size-2);
}

.area-bar__progress-counter {
  color: var(--white);
  font-size: var(--size-3);
}

.main-content {
  margin-top: var(--size-6);
}

.courses {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-5);
}

.course {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 225px;
  padding-bottom: var(--size-4);
  border-radius: var(--size-2);
  overflow: hidden;
  background-color: var(--white);
}

.course__media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 120px;
}

.course__requirement {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
}

.course__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: calc(var(--size-8) + var(--size-2));
  color: var(--blue);
  font-size: var(--size-4);
  text-align: center;
}

.course__info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: var(--size-2);
}

.course__info-item {
  width: 50%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: stretch;
  text-align: center;
}

.course__info-divider {
  width: 1px;
  height: var(--size-7);
  background-color: var(--divider-bg-color);
}

.course__info-title,
.course__info-body {
  font-size: var(--size-3);
  color: var(--main-bar-link-color);
}

.course__info-title {
  font-weight: 500;
}

.course__info-body--warning {
  color: #a41a37;
  font-weight: 500;
}

.course__completion {
  height: var(--size-9);
}

/**
 * Credit: https://bennettfeely.com/csspiechart/
 */
.pie-chart {
	position: relative;
	width: 100%;
	height: 100%;
}

.pie-chart--incomplete {
  background:
		radial-gradient(
			circle closest-side,
			white 0,
			white 59.4%,
			transparent 59.4%,
			transparent 66%,
			white 0
		),
		conic-gradient(
			var(--blue) 0,
			var(--blue) 16%,
			#d9d9d9 0,
			#d9d9d9 100%
	);
}

.pie-chart--complete {
  background:
		radial-gradient(
			circle closest-side,
			white 0,
			white 59.4%,
			transparent 59.4%,
			transparent 66%,
			white 0
		),
		conic-gradient(
			var(--green) 0,
			var(--green) 100%,
			#d9d9d9 0,
			#d9d9d9 100%
	);
}

.pie-chart figcaption {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: smaller;
	text-align: right;
}

.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
}
/**
 * END credit
 */

.course__download-certificate {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-right: var(--size-3);
  margin-left: var(--size-3);
  background-color: var(--green);
  color: var(--white);
  height: var(--size-6);
  border-radius: calc(var(--size-6) / 2);
  font-weight: 300;
}

.course__download-certificate--disabled {
  background-color: #e6e0e0;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}
